.landing-page {
                width: 1600px;
                 height: 7335px;
                background: #FFF;
              }
.banner {
        background-repeat: no-repeat;
         width: 1320px;
          height: 600px;
           margin-top: 56px;
          margin-left: 285px;
         margin-right: 139px;
        background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Banner\ Image.png);
          border-radius: 16px;
      }

h3 {
    color: #FFF;
      text-align: center;
       font-size: 32px;
     font-weight: 400;
    padding: 171px 530px 0px ;
    } 
    /*welcome party*/
.bg {
      background-image: url(images/Vectorrr.png);
        background-repeat: no-repeat;
          width: 1320px;
         height: 600px;
       margin: 68px 138px 68px 285px;
      display: flex;
    
    }

h1  {
   
     color: #FFF;
       text-align: center;
         font-size: 72px;
          font-weight: 900;
           line-height: 95px; 
       padding-top: 16px;
     padding-bottom: 183px;
    padding-left:343px ;
     padding-right: 344px;
   

   }

     
     
     /*main section*/
     .main {
             width: 1600px;
              text-align: center;
             background: #fff;}
    img {
            width: 802.9px;
             height: 500px;
              flex-shrink: 0;
               align-items: center;
              margin: 48px 398px 0px 398px; ;
            padding: 0px 100px 0px 150px;
          fill: url(images/New\ Year\ Photo.png), lightgray 50% / cover no-repeat;
        }
    .off {
            color:#F00;
              text-align: center;
                max-width: 383px;
              font-size: 88px;
            margin:114px 450px 0px 750px;
              font-family: Inter;
            font-weight: 700px;
    
         }

    .our {
          color: #F00;
            text-align: center;
              font-size: 24px;
            font-weight: 500;
           padding: 45px 450px 0px 750px;
         font-family: Inter;

         }
    .all {
           color: #070211;
             text-align: center;
               font-size: 48px;
                 font-weight: 700;
               padding: 0px 425px 0px 725px; 
            font-family: Inter;
        }
    .welcome {
              color: #FFF;
                font-family: Merriweather;
                 font-size: 64px;
                  font-style: normal;
                font-weight: 900;
             line-height: 88px;
              letter-spacing: 7.04px;
              padding: 57px 0px 0px 126px;
              width: 642px;
       
        

              }
     .welcome{
              color: #FFF;
                font-family: Merriweather;
                  font-size: 64px;
                    font-style: normal;
                  font-weight: 900;
                 line-height: 88px;
               letter-spacing: 7.04px;
             width: 642px;
            }

     .paragraph{
                color: rgba(255, 255, 255, 0.80);
                   font-family: Inter;
                     font-size: 18px;
                      font-style: normal;
                    font-weight: 400;
                  line-height: 30px; 
                width: 697px;
              }
     .button{
                color: #FFF;
                   background-color: rgb(14, 211, 194);
                     font-family: Inter;
                       font-size: 20px;
                     font-style: normal;
                   font-weight: 700;
                 line-height: normal;
                text-transform: uppercase;
              border: none;
     }
 .g70{
        display: flex;
          width: 319.83px;
            height: 464.662px;
              padding: 0.008px 0px 0px 0px;

            justify-content: center;
        align-items: center;


        }