.landing-page{
    width: 1600px;
height: 7335px;
background: #FFF;
}
div.top{
    text-align: center;
    width: 632px;
height: 246px;
flex-shrink: 0;
}
.text{
    
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.headline{
    width: 632px;
   
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}